<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.5.3" targetFramework="net48" />
  <package id="ClosedXML" version="0.102.1" targetFramework="net48" />
  <package id="CrystalReports.Engine" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ClientDoc" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommLayer" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonControls" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CommonObjectModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Controllers" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.CubeDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.DataSetConversion" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ObjectFactory" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.Prompting" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.ReportDefModel" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.ReportAppServer.XmlSerialize" version="13.0.4003" targetFramework="net48" />
  <package id="CrystalReports.Shared" version="13.0.4003" targetFramework="net48" />
  <package id="CSharp.DataStructures" version="1.2.0.0" targetFramework="net48" />
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.20.0" targetFramework="net48" />
  <package id="EPPlus" version="6.2.8" targetFramework="net48" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net48" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net48" />
  <package id="FastCollections" version="0.2.3" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net48" />
  <package id="Irony" version="1.2.0" targetFramework="net48" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net48" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net48" />
  <package id="OfficeOpenXml.Extends" version="1.0.6.0" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="XLParser" version="1.7.0" targetFramework="net48" />
</packages>